<div style="background-color: red;">
    Enter Text: <input type="text" name="chars" [formControl]="transformableText" style="width: 190px;">
    <div style="margin-left: 75px;">
        <span style="color: green; text-decoration-thickness: 5px;"> {{state}} </span>
        <button (click)="getUpdate()"> get state </button>
    </div>
    <div style="background-color: yellow; margin-left: 20px; margin-right: 20px ;">
        <!-- <plain-text [attr.text]="text" attr.state="{{state}}"></plain-text> -->
        <plain-text [attr.text]="text" attr.state="{{state}}"></plain-text>
    
    </div>
<br/>